#include <dt-bindings/zmk/matrix_transform.h>
#include <dt-bindings/gpio/gpio.h>

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,matrix-transform = &default_transform;
    };

    /* Isolation build: 15 keys, COL1..3 only, no PCF8574 in the picture. */
    default_transform: keymap_transform0 {
        compatible = "zmk,matrix-transform";
        columns = <3>;
        rows = <5>;
        map = <
            RC(0,0) RC(0,1) RC(0,2)
            RC(1,0) RC(1,1) RC(1,2)
            RC(2,0) RC(2,1) RC(2,2)
            RC(3,0) RC(3,1) RC(3,2)
            RC(4,0) RC(4,1) RC(4,2)
        >;
    };

    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;
        debounce-press-ms = <5>;
        debounce-release-ms = <5>;

        col-gpios
            = <&xiao_d 1 GPIO_ACTIVE_HIGH>   /* COL1 */
            , <&xiao_d 2 GPIO_ACTIVE_HIGH>   /* COL2 */
            , <&xiao_d 3 GPIO_ACTIVE_HIGH>   /* COL3 */
            ;

        row-gpios
            = <&xiao_d 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   /* ROW1 */
            , <&xiao_d  9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   /* ROW2 */
            , <&xiao_d  8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   /* ROW3 */
            , <&xiao_d  7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   /* ROW4 */
            , <&xiao_d  6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>   /* ROW5 */
            ;
    };
};

/* Free up D6/D7 (UART0) and D8/D9/D10 (SPI2) for matrix row GPIO use. */
&uart0 {
    status = "disabled";
};

&spi2 {
    status = "disabled";
};
